.color{
    background: #51CEBC;
    width: 170px;
}
.sim {
background: #C3CACD;
}
.red{
    color: red;
}
.flex{
    display: flex;
    justify-content: space-around;
}
.info{
    width: 50%;
}

.product-image{
    height: 200px;
    margin-bottom: 10px;
}
.product-card{
    background: #ccdef2;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.boo{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}