* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: antiquewhite;
}

.main_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 1440px;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.topBar {
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 1440px;
    z-index: 1;
    background: #ffffff;
}

.sl {
    font-size: 10px;
}

.nav_menu {
    display: flex;
    column-gap: 56px;
}

.header_logo {
    display: flex;
    align-items: center;
    margin-left: 36px;
}

.nav_menu_imet a {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.btn_menu {
    display: flex;
    column-gap: 24px;
    margin-right: 32px;
    align-items: center;
}

.btn_bgbl {
    background: #0B2330;
    border: 1px solid #0B2330;
    color: #ffffff;
}

.btn_bgye {
    background: #F9C600;
    border: 1px solid #F9C600;
    color: #0B2330;
}

.btn_bg0 {
    border: 1px solid #0B2330;
    color: #0B2330;
}

.nav_btn {
    cursor: pointer;
    height: 54px;
    width: 163px;
    box-sizing: border-box;
    border-radius: 4px;
    transition: box-shadow .45s;
}

.nav_btn:hover {
    box-shadow: -2px 13px 22px 6px rgba(11, 35, 48, 0.79);
    -webkit-box-shadow: -2px 13px 22px 6px rgba(11, 35, 48, 0.79);
    -moz-box-shadow: -2px 13px 22px 6px rgba(11, 35, 48, 0.79);
}

.block_1 {
    height: 886px;
    display: flex;
    margin-top: 83px;
}

.block_text {
    min-width: 840px;
    height: 886px;
    display: flex;
}

.block_image {
    height: 886px;
    min-width: 600px;
    background: url("/image/yellowbg.svg");
}

.block_textInside {
    width: 436px;
    height: 100%;
    margin-left: 147px;
    display: flex;
    flex-direction: column;
    margin-top: 154px;
}

.block_text_title {
    font-size: 60px;
    line-height: 64px;
    color: #0B2330;
    margin: 0;
    height: 256px;
    letter-spacing: 0.6px;
}

.block_text_text {
    font-size: 22px;
    line-height: 32px;
    color: #375361;
    margin: 32px 0;
}

.btn_inText {
    margin: 6px 0;
    display: flex;
    column-gap: 16px;
}

.top_image {
    position: absolute;
    margin-left: -102px;
    margin-top: 172px;
}

.block_logo {
    margin-top: 192px;
    display: flex;
    justify-content: center;
}

.inBlock_logo {
    width: 1143px;
    height: 352px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.txtBlock_logo {
    width: 547px;
    height: 96px;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #0B2330;
}

.logoBlock_logo {
    /*border: 1px solid black;*/
    height: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 83px;
    row-gap: 16px;
}

.logoC {
    width: 150px;
    height: 56px;
}

.bicycle {
    margin-top: 192px;
    display: flex;
    justify-content: center;
}

.green_bicycle {
    width: 1376px;
    height: 494px;
    background: #51CEBC;
    border-radius: 10px;
    display: flex;
}

.bicycleTxt {
    width: 562px;
    height: 100%;
}

.bicycleTxt_1 {
    margin-top: 114px;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #0B2330;
}

.bicycleTxt_2 {
    font-size: 22px;
    line-height: 32px;
    color: #0B2330;
}

.lostBlock {
    margin-top: 57px;
}

.lostP {
    width: 711px;
    height: 80px;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.34px;
    color: #0B2330;
    margin-top: 191px;
}

.mt113 {
    margin-top: 113px;
}

.purpurBlock {
    width: 1260px;
    height: 537px;
    background: #BD78F0;
    border-radius: 10px;
    margin-left: 116px;
    margin-top: 160px;
    display: flex;
    /*align-items: center;*/
}

.prp_txtBlock {
    width: 562px;
    height: 537px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Prp_image {
    width: 582px;
    display: flex;
    align-items: center;
}

.abso {
    position: absolute;
    margin-left: -116px;
}

.prp_txt {
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.42px;
    color: #0B2330;
    margin-bottom: 22px;
}

.prp_txt1 {
    font-size: 17px;
    line-height: 28px;
    color: #0B2330;
    margin-bottom: 115px;
}

.helpSprigBlock {
    margin: 136px 0 0 0;
    height: 1772px;
}

.backDown {
    margin-left: 116px;
    width: 1260px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hsb {
    display: flex;
    justify-content: space-between;
}

.hsbTxt {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hs1 {
    flex-direction: column;
    width: 593px;
}

.hsb_text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #6A7981;
    margin: 0;
}

.hsb_text1 {
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.42px;
    color: #0B2330;
    margin: 13px 0 13px 0;
}

.hsb_text2 {
    font-size: 22px;
    line-height: 32px;
    color: #375361;

}

.hsb2 {
    margin: 7px 0 7px 0;
}

.hsb_blochMini {
    width: 513px;
    height: 100%;
}

.hsb_blochImage {
    width: 513px;
    display: flex;
    align-items: end;
}


.hsb_txt1 {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #0B2330;
    margin: 23px 0 29px 0;
}

.hsb_txt2 {
    font-size: 17px;
    line-height: 28px;
    color: #375361;
    width: 484px;
}

.hsd_menu {
    height: 16px;
    display: flex;
    column-gap: 16px;
}

.btn_hsd {
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    padding: 0 10px 0 0;
}

.btn_bg2 {
    background: #E7EAEB;
}

.btn_bg3 {
    background: #FE9F28;
}

.btn {
    border-color: #E7EAEB;
    color: #000000;
    box-shadow: 0 0 40px 40px #E7EAEB inset, 0 0 0 0 #E7EAEB;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.btn:hover {
    box-shadow: 0 0 10px 0 #E7EAEB inset, 0 0 10px 4px #FE9F28;
}

.realTime {
    height: 960px;
    background: #F2EDE7;
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.realText1 {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #375361;
    margin: 10px 0 10px 0;
}

.realText2 {
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    color: #0B2330;
    margin: 0;
}

.realTimeText {
    height: 168px;
    width: 1197px;

}

.realBlock {
    display: flex;
    column-gap: 141px;

}

.akord {
    height: 484px;
    width: 588px;
    display: flex;
    flex-direction: column;
    border-top: 2px solid #C9316F;
}

.akr {
    width: 100%;
    height: 100%;
}



.h_akr {
    font-size: 24px;
    line-height: 32px;
    color: #0B2330;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.bord{
    border-top: 2px solid #C3CACD;
    border-bottom: 2px solid #C3CACD;
}
.bord1{
    border-top: 2px solid #C3CACD;
}
.p_akr {
    font-size: 17px;
    line-height: 28px;
    color: #375361;
    width: 563px;
}

.learn {
    font-size: 16px;
    line-height: 28px;
    color: #0B2330;
}

.flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.share{
    height: 418px;
    width: 1260px;
    margin-top: 160px;
    margin-left: 116px;
    display: flex;
    justify-content: space-between;
}
.shareTxt{
    width: 667px;
}
.shareText1{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #375361;

}
.shareText2{
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #0B2330;
}
.shareText3{
    font-size: 17px;
    line-height: 28px;
    color: #375361;
    margin-bottom: 36px;
}
.shareImage{
    position: relative;
    margin-right: -32px;
}

.case{
    margin-top: 240px;
    width: 1376px;
    height: 584px;
    background: #F2EDE7;
    display: flex;
    column-gap: 20px;
}
.caseRead{
    width: 562px;
    height: 584px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.miniRead{
    width: 329px;
    height: 424px;
    display: flex;
    flex-direction: column;
}
.caseTxt{
    font-size: 24px;
    line-height: 32px;
    color: #0B2330;
}

.caseTxt1{
    font-size: 17px;
    line-height: 28px;
    color: #0B2330;
    margin-bottom: 36px;
}
.sprig{
    width: 794px;
    height: 584px;
    background: #F9C600;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sprigTxt{
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #000000;
    height: 240px;
    width: 555px;
}
.faceImage{
    height: 80px;
    width: 557px;
    display: flex;
    margin-top: 80px;
    column-gap: 24px;
}
.footer{
    margin-top: 46px;
    width: 100%;
    background: #0B2330;
}
.launch{
    width: 609px;
    height: 96px;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #FFFFFF;
}
.create{
    width: 642px;
    height: 56px;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin: 30px;
}
.footer_v1{
    height: 423px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
}
.finish{
    display: flex;
    justify-content: space-between;
    width: 1022px;
    margin: 68px 0 0 268px;
}
.finishTxt{
    width: 301px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #94A0A4;
}
.color{
    color: #F9C600;
}
.fin_logo{
    width: 132px;
    height: 28px;
    display: flex;
    justify-content: space-between;
}
.footer_v2{
    height: 678px;
    width: 1440px;
    display: flex;
    flex-direction: column;
}
.foot{
    display: flex;
    column-gap: 40px;
    margin: 80px 0 0 32px;

}
.foo{
    width: 196px;
    height: 290px;
    /*border: 1px solid deepskyblue;*/
    color: #94A0A4;
    font-size: 16px;
    line-height: 24px;
}
.foo>p{
    margin: 0 0 14px 0;
}